body {
  background-color: black;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.crop {
  width: 400px;
  height: 300px;
  overflow: hidden;
  /* clip-path: circle(50%); */
}

.crop img {
  margin: -30px 0 0 -20px;
  
}

#galerie {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
}

#timer {
  color: white;
}
