
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.robot {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 200px;
  grid-template-rows: 20% 20%;
  grid-template-areas: "a" "b";
  
  background: #a6b4c4;
  background-image: radial-gradient(#a6b4c4,#59798e);
}

.robot_eyes {
  width: 400px;
  height: 150px;
  border: 3px solid black;
  border-radius: 200px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-areas: "a";
  justify-items: center;
  align-items: center; 
}

.robot_socket {
  width: 375px;
  height: 125px;
  border: 3px solid black;
  border-radius: 200px;
  background: black;
  overflow: hidden;
  display: grid;
  grid-template-columns: 55% 35%;
  grid-template-areas: "a" "b";

  justify-items: center;

}

.robot_eye {
  height: 145px;
  width: 145px;
  background-color: #fefbb8;
  border-radius: 100%;
  margin: -10px 10px 0px 10px;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}
.robot_pupil {
  width: 20px;
  height: 20px;
  background-color: black;
}

.robot_mouth {
  width: 280px;
  height: 100px;
  background-color: black;
  margin-top: 80px;
  border-radius: 50px;
  border: 4px solid black;
  position: relative;
  display: grid;
  grid-template-areas: "a a a a a a a a" "a a a a a a a a";
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}

.robot_tooth {
  height: 46px;
  width: 30px;
  background-color: #fefbb8;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.gap-left {
  border-left: 4px solid black;
}

.gap-right {
  border-right: 4px solid black;
}
